



<div class="sb-nav-fixed">
    <%= render "shared/admin_t_nav" %>
    <div id="layoutSidenav">
        <%= render "shared/admin_s_nav" %>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Edit Article</h1>
                    <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Editing Article</li>
                        </ol>
                    <div class="row">
                        <div class="col-xl- col-md-8">
                            <div class="card">
                              <div class="card-body">
                                <%= render 'form', article: @article %>
                              </div>
                            </div>
                            <%= link_to 'Show', @article, class: "mb-3" %> |
                            <%= link_to 'Back', articles_path, class: "mb-3" %>
                        </div>
                        

                        <div class="col-xl- col-md-4">
                            <div class="card mb-4">
                              <div class="card-body">
                                <img class="img-fluid" src="https://images.unsplash.com/photo-1622495805962-d93109c8def4?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Post Header Image">
                              </div>
                              <div class="card-footer text-muted">
                                Choose Header Image
                              </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-body">
                                hello
                                </div>
                              </div>
                        </div>
                    </div>
                    
                </div>
            </main>
            <%= render "shared/footer" %>
        </div>
    </div>
    
</div>